body {
  background: rgb(85, 85, 195);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.book {
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.book img {
  width: 150px;
  height: 220px;
  object-fit: cover;
}