body {
  background: rgb(85, 85, 195);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px greenyellow;
}

#book-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
}

.controls {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
}

.controls select,
.controls input,
#random-book {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

#random-book {
  background-color: #76b706;
  color: white;
  border: none;
  cursor: pointer;
}

#random-book:hover {
  background-color: #0e451a;
}

.book {
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #bb65a1;
  box-shadow: 5px 5px 10px rgb(106, 176, 106);
  max-width: 300px;
  text-align: center;
}

.book img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.random-book-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

/* Padda, 2 kolumner */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #book-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    max-width: 350px;
    margin: 20px auto;
  }

  .book img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 50%;
  }
}

/* Dator, 4 kolumner*/
@media screen and (min-width: 1025px) {
  #book-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .book {
    max-width: 400px;
    margin: 20px;
  }

  .book img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 50%;
  }

  .controls {
    display: flex;
    gap: 25px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
  }

  #random-book-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
  }

  #random-book-container .book {
    margin: 0 auto;

  }


}